h1 {
    width:500px;
    margin: 0 auto;
    background: gray;
    text-align: center;
    margin-bottom:20px;
}
.contaner{
          width:100%;
          max-width: 4000px:
}
.accordian{
          width:100%;
          padding:0;
          margin:0;
          list-style-type:none;
}

.accordian-headder{
          text-align: center;
          display:block;
          padding:15px 200px;
          color:white;
          text-decoration:none;
          margin;10 10 10 100;
          background: gray;
            
}
.accordiant-content{
          padding:0;
          height:0;
          overflow:hidden;
}

.accordiant-content:target{
          height:auto;
          padding:20;
}
                    
                   
