@font-face{
	  font-family: 'opendyslexic';
	  src: url('OpenDyslexic-Regular.otf');
	  font-style: normal;
	  font-weight: normal;
}
.bg {
  background-image: url("back.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr.solid {
  border-top: 3px solid #bbb;
}

h1 {
    font-family: 'opendyslexic';
    width:700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:20px;
}

h2 {
    font-family: 'opendyslexic';
    width:700x;
    margin: 0 auto;
    text-align: center;
    margin-bottom:10px;
}
.contaner{
          width:100%;
          max-width: 4000px:
}
.accordian{
          width:100%;
          padding:0;
          margin:0;
          list-style-type:none;
}

.accordian-headder{
	  font-family: 'opendyslexic';
          display:block;
          padding:15px 20px;
          text-decoration:none;
          margin;10px 10px 10px 10px;
	  font-size: 150%;
            
}
.accordiant-content{
	  font-family: 'opendyslexic';
          padding:0;
          height:0;
          overflow:hidden;
	  padding:10px 500px 10px 500px;
}

.accordiant-content:target{
          height:auto;
          padding:30px;
}
                    
                   
