.contaner{
          width:100%;
          max-width: 4000px:
}
.accordian{
          width:100%;
          padding:0;
          margin:0;
          list-style-type:none;
}

.accordian-headder{
          display:block;
          padding:15px 20px;
          background:blue;
          color:red;
          text-decoration:none;
          margin-bottom:10px;
}
.accordiant-content{
          padding:0;
          height:0;
          overflow:hidden;
}

.accordiant-content:target{
          height:auto;
          padding:20;
}
                    
                   
